@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top:5%;
  margin-left: 10%;
  margin-right: 10%;
  top: 0;
  bottom: 0;
  width: 80vw;
  height:60vh;
}
