#show_map {
    display: none;
}

#show_recipes {
    display: none;
}

#show_analyses {
    display: none;
}

/* Title/Desciption Section */

#desc {
    font-weight: normal;
}

.popup{
    max-width:20px;
    max-height: 20px;
    color: red
}
