#show_map {
    display: none;
}

#show_recipes {
    display: none;
}

#show_analyses {
    display: none;
}

/* Title/Desciption Section */

#desc {
    font-weight: normal;
}

.leftCol, .rightCol {
    float: left;
    width: 50%;
}

#zq1 {
    width: 80%;
    height: auto;
    padding-left: 80px;
    padding-right: 0px;
}

.leftCol {
    padding-left: 0px;
    padding-right: 0px;
}

.row:after {
    display: table;
    clear:both;
}
